.home-header img {
  width: 50%;
  margin: 25px 0px;
}

.main-name {
  color: black;
}

.Typewriter__wrapper {
  font-size: 2.8em;
  color: gray;
  font-weight: 600;
}

.Typewriter__cursor {
  font-size: 2.4em;
  color: gray;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-card {
  margin-left: auto;
  margin-right: auto;
}

.card-header .card-body {
  margin: auto;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 575px) {
  .home-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/ihsan-main-pic.JPG");
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
  }

  .heading {
    color: white;
  }

  .greeting-height {
    height: 100vh;
  }

  .main-name {
    color: wheat;
  }

  .Typewriter__wrapper {
    font-size: 2em;
    color: white;
    font-weight: 600;
  }

  .Typewriter__cursor {
    font-size: 2em;
    color: whitesmoke;
  }
}
